body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

#child_portrait {
    margin-top: 20px;
    margin-bottom: 20px;
}

#about_text {
    margin-right: 20px;
    margin-left: 20px;
}

#mapid {
    height: 700px;
}

.text-dark {
    color: #364f6b;
}

.list-item {
    background-color: #fbfbfb;
}
